In [1]:
!pip install textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/60/f0/1d9bfcc8ee6b83472ec571406bd0dd51c0e6330ff1a51b2d29861d389e85/textblob-0.15.3-py2.py3-none-any.whl (636kB)
Requirement already satisfied: nltk>=3.1 in d:\anaconda\lib\site-packages (from textblob) (3.4)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)
Requirement already satisfied: singledispatch in d:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (3.4.0.3)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [2]:
import textblob

In [3]:
!pip install gensim

Requirement already satisfied: gensim in d:\anaconda\lib\site-packages (3.8.0)
Requirement already satisfied: six>=1.5.0 in d:\anaconda\lib\site-packages (from gensim) (1.12.0)
Requirement already satisfied: numpy>=1.11.3 in d:\anaconda\lib\site-packages (from gensim) (1.15.4)
Requirement already satisfied: scipy>=0.18.1 in d:\anaconda\lib\site-packages (from gensim) (1.1.0)
Requirement already satisfied: smart-open>=1.7.0 in d:\anaconda\lib\site-packages (from gensim) (1.8.4)
Requirement already satisfied: boto>=2.32 in d:\anaconda\lib\site-packages (from smart-open>=1.7.0->gensim) (2.49.0)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from smart-open>=1.7.0->gensim) (2.21.0)
Requirement already satisfied: boto3 in d:\anaconda\lib\site-packages (from smart-open>=1.7.0->gensim) (1.9.205)
Requirement already satisfied: idna<2.9,>=2.5 in d:\anaconda\lib\site-packages (from requests->smart-open>=1.7.0->gensim) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\anaconda\lib\site-packages (from requests->smart-open>=1.7.0->gensim) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->smart-open>=1.7.0->gensim) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->smart-open>=1.7.0->gensim) (2018.11.29)
Requirement already satisfied: botocore<1.13.0,>=1.12.205 in d:\anaconda\lib\site-packages (from boto3->smart-open>=1.7.0->gensim) (1.12.205)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in d:\anaconda\lib\site-packages (from boto3->smart-open>=1.7.0->gensim) (0.2.1)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in d:\anaconda\lib\site-packages (from boto3->smart-open>=1.7.0->gensim) (0.9.4)
Requirement already satisfied: docutils<0.15,>=0.10 in d:\anaconda\lib\site-packages (from botocore<1.13.0,>=1.12.205->boto3->smart-open>=1.7.0->gensim) (0.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in d:\anaconda\lib\site-packages (from botocore<1.13.0,>=1.12.205->boto3->smart-open>=1.7.0->gensim) (2.7.5)

In [4]:
from textblob import TextBlob

In [5]:
p="It's a raining very heavily in Mumbai. RainFall in India is High"

In [6]:
blob = TextBlob(p)

In [7]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to D:\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
blob.sentences[0]

Sentence("It's a raining very heavily in Mumbai.")

In [9]:
blob.sentiment

Sentiment(polarity=-0.05, subjectivity=0.595)

In [10]:
p2="Analytics Vidhya is a great platform to learn data science."

In [11]:
blob = TextBlob(p2)

In [12]:
blob.sentiment

Sentiment(polarity=0.8, subjectivity=0.75)

In [13]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     D:\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [14]:
blob.tags

[('Analytics', 'NNS'),
 ('Vidhya', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('great', 'JJ'),
 ('platform', 'NN'),
 ('to', 'TO'),
 ('learn', 'VB'),
 ('data', 'NNS'),
 ('science', 'NN')]

In [15]:
nltk.download('brown')

[nltk_data] Downloading package brown to D:\nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [16]:
for x in blob.noun_phrases:
  print(x)

analytics vidhya
great platform
data science

In [17]:
from textblob import Word

In [18]:
w=Word('Platform')

In [19]:
w.pluralize()

'Platforms'

In [20]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to D:\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
w=Word('running')

In [22]:
w.lemmatize()

'running'

In [51]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [23]:
import pandas as pd

In [24]:
import os
os.chdir("C:/Users/Suyash")

In [25]:
data = pd.read_csv("spam.csv",encoding='ISO8859')

In [26]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [27]:
data=data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],1)

In [28]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [29]:
import pandas as pd
import nltk
import spacy
from string import punctuation
from nltk.tokenize import word_tokenize
from nltk.stem import LancasterStemmer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [30]:
ls = LancasterStemmer()

In [31]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to D:\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [32]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to D:\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [33]:
stuff_to_be_removed = list(stopwords.words("english"))+list(punctuation)

In [34]:
corpus=data['v2'].tolist()

In [35]:
def prepross(s):
  words = s.lower()
  #print(words)
  words = word_tokenize(words)
  #print(words)
  words = [x for x in words if x not in stuff_to_be_removed]
  #print(words)
  words = [ls.stem(x) for x in words]
  words = [" ".join(words)]
  return words

In [36]:
final=[]
for i in range(len(corpus)):
  z= prepross(corpus[i])
  final.append(z)

In [37]:
new_df = pd.DataFrame(final)

In [38]:
new_df.head(4)

                                                   0
0  go jurong point crazy.. avail bug n gre world ...
1                        ok lar ... jok wif u on ...
2  fre entry 2 wkly comp win fa cup fin tkts 21st...
3          u dun say ear hor ... u c already say ...

In [39]:
new_df['v1'] = data['v1']

In [40]:
new_df

                                                      0    v1
0     go jurong point crazy.. avail bug n gre world ...   ham
1                           ok lar ... jok wif u on ...   ham
2     fre entry 2 wkly comp win fa cup fin tkts 21st...  spam
3             u dun say ear hor ... u c already say ...   ham
4               nah n't think goe usf liv around though   ham
5     freemsg hey darl 's 3 week 's word back 'd lik...  spam
6                    ev broth lik speak tre lik aid pat   ham
7     per request 'melle mel oru minnaminungint nuru...   ham
8     win valu network custom select receive å£900 p...  spam
9     mobl 11 month u r entitl upd latest colo mobl ...  spam
10    'm gon na hom soon n't want talk stuff anym to...   ham
11    six chant win cash 100 20,000 pound txt csh11 ...  spam
12    urg 1 week fre memb å£100,000 priz jackpot txt...  spam
13    've search right word thank breath prom wont t...   ham
14                                           dat sunday   ham
15    xxxmobilemovieclub us credit click wap link ne...  spam
16                                    oh k ... 'm watch   ham
17    eh u rememb 2 spel nam ... ye v naughty mak v wet   ham
18               fin thatåõ way u feel thatåõ way got b   ham
19    england v macedon dont miss goals/team new txt...  spam
20                                        sery spel nam   ham
21                    iû÷m going try 2 month ha ha jok   ham
22              ì_ pay first lar ... da stock comin ...   ham
23    aft fin lunch go str lor ard 3 smth lor u fin ...   ham
24                     ffffffffff alright way meet soon   ham
25    forc eat slic 'm real hungry tho suck mark get...   ham
26                                    lol alway convint   ham
27    catch bus fry eg mak tea eat mom 's left din f...   ham
28        'm back amp 're pack car 'll let know 's room   ham
29                   ahhh work vagu rememb feel lik lol   ham
...                                                 ...   ...
5542                         armand say get ass epsilon   ham
5543                    u stil hav got urself jacket ah   ham
5544  'm tak derek amp tayl walmart 'm back tim 're ...   ham
5545                                  hi durb stil numb   ham
5546                              ic lott childporn car   ham
5547  contract mobl 11 mnths latest motorol nok etc ...  spam
5548                                      try weekend v   ham
5549  know wot peopl wear shirt jump hat belt know r...   ham
5550                                 cool tim think get   ham
5551                         wen get spirit deep 's gre   ham
5552    saf trip niger wish happy soon company shar mom   ham
5553                             hahaha..use brain dear   ham
5554  wel keep mind 've got enough gas on round trip...   ham
5555  yeh ind nic tho kan bit shud go 4 drink someti...   ham
5556                   ye 's u text pshew ... miss much   ham
5557  meant calc lt gt unit lt gt school real expend...   ham
5558                                  sorry 'll cal lat   ham
5559                  n't next lt gt hour imm flip shit   ham
5560                               anyth lor juz us lor   ham
5561                get dump heap mom decid com low bor   ham
5562  ok lor ... sony ericsson salesm ... ask shuhu ...   ham
5563                                  ard 6 lik dat lor   ham
5564              n't wait 'til least wednesday see get   ham
5565                                        huh lei ...   ham
5566  remind o2 get 2.50 pound fre cal credit detail...  spam
5567  2nd tim tri 2 contact u. u å£750 pound priz 2 ...  spam
5568                         ì_ b going esplanad fr hom   ham
5569                              pity mood ... suggest   ham
5570  guy bitch act lik 'd interest buy someth els n...   ham
5571                                       rofl tru nam   ham

[5572 rows x 2 columns]

In [41]:
new_df.columns = ['Msg','sentiment']

In [42]:
new_df.head(4)

                                                 Msg sentiment
0  go jurong point crazy.. avail bug n gre world ...       ham
1                        ok lar ... jok wif u on ...       ham
2  fre entry 2 wkly comp win fa cup fin tkts 21st...      spam
3          u dun say ear hor ... u c already say ...       ham

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [44]:
vector = tfidf.fit_transform(new_df['Msg'])

In [45]:
final1=pd.DataFrame(vector.toarray())

In [46]:
y=new_df['sentiment']

In [47]:
from sklearn.naive_bayes import GaussianNB

In [48]:
model = GaussianNB()

In [49]:
from sklearn.model_selection import train_test_split as tts

In [50]:
X_train, X_test, y_train, y_test = tts(final1,y,test_size=0.3,random_state=0)
X_train.shape, X_test.shape

((3900, 6986), (1672, 6986))

In [51]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [52]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [53]:
pred =model.predict(X_test)

In [54]:
accuracy_score(pred,y_test)

0.8606459330143541

In [55]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

In [56]:
ada = AdaBoostClassifier(RandomForestClassifier(max_depth=4,n_estimators=500),n_estimators=300, random_state=42)
ada.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          learning_rate=1.0, n_estimators=300, random_state=42)

In [57]:
pred =model.predict(X_test)

In [58]:
accuracy_score(pred,y_test)

0.8606459330143541